In [1]:
import pandas as pd
import seaborn as sns

In [6]:
occurence = pd.read_csv('omop_condition_occurence.csv')[[
'eid', 'condition_concept_id', 'condition_start_date', 
'condition_source_value', 'condition_type_concept_id', 'condition_status_concept_id']]

eras = pd.read_csv('omop_condition_era.csv')

In [7]:
occurence['breast_cancer'] = occurence['condition_source_value'].str.contains('C50', na=False)
occurence['cancer'] = occurence['condition_source_value'].str.contains('C', na=False)
occurence['non-bc'] = occurence['cancer'] & ~occurence['breast_cancer']

display(len(eras))
eras = eras.merge(occurence, how='left', on=['eid', 'condition_concept_id'])
#todo - fix the merge
display(eras)

1455728

,eid,condition_era_id,condition_concept_id,condition_era_start_date,condition_era_end_date,condition_occurrence_count,condition_start_date,condition_source_value,condition_type_concept_id,condition_status_concept_id,breast_cancer,cancer,non-bc
0,1001473,1692217236464,4023200,17/04/2019,18/04/2019,1,17/04/2019,1920-2.0-100349-0,32862,0.0,False,False,False
1,1001473,1692217236464,4023200,17/04/2019,18/04/2019,1,03/02/2010,1920-0.0-100349-0,32862,0.0,False,False,False
2,1001473,1047972094078,36564848,07/08/2003,08/08/2003,1,07/08/2003,8500/3-C508,32879,0.0,True,True,False
3,1001473,833223686927,4075933,03/02/2010,04/02/2010,1,03/02/2010,2000-0.0-100349-1,32862,0.0,False,False,False
4,1001473,833223686927,4075933,03/02/2010,04/02/2010,1,17/04/2019,2000-2.0-100349-1,32862,0.0,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11282049,6022227,670015030965,4011528,04/07/2009,05/07/2009,1,04/07/2009,4526-0.0-100478-3,32862,0.0,False,False,False
11282050,6022227,403727029454,375252,04/07/2009,05/07/2009,1,04/07/2009,2227-0.0-100352-1,32862,0.0,False,False,False
11282051,6022227,17180019254,4014295,02/06/1998,03/06/1998,1,02/06/1998,Z370,32817,32908.0,False,False,False
11282052,6022227,17180019254,4014295,02/06/1998,03/06/1998,1,27/03/2007,Z370,32817,32908.0,False,False,False
11282053,6022227,317827711020,197343,27/03/2007,28/03/2007,1,27/03/2007,O700,32817,32908.0,False,False,False

,eid,condition_concept_id,condition_start_date,condition_source_value,condition_type_concept_id,condition_status_concept_id,cancer,non-bc
breast_cancer,,,,,,,,
False,20854,12824,12073,21808,5,5,2,2
True,14309,171,7204,183,3,5,1,1

In [14]:
display(
    occurence.groupby(['breast_cancer']).nunique('eid').sort_values(by=['eid'], ascending=False)
)

,eid,condition_concept_id,condition_start_date,condition_source_value,condition_type_concept_id,condition_status_concept_id,cancer,non-bc
breast_cancer,,,,,,,,
False,20854,12824,12073,21808,5,5,2,2
True,14309,171,7204,183,3,5,1,1

In [4]:
display(eras.groupby(['condition_concept_id', 'eid']).count().sort_values(by='eid', ascending=False))

,,condition_era_id,condition_era_start_date,condition_era_end_date,condition_occurrence_count
condition_concept_id,eid,,,,
4047207,6022409,2,2,2,2
4078201,6022409,1,1,1,1
4300807,6022409,1,1,1,1
4023200,6022409,1,1,1,1
373786,6022409,2,2,2,2
...,...,...,...,...,...
4047208,1000177,1,1,1,1
4157007,1000177,1,1,1,1
4300807,1000177,1,1,1,1
4157332,1000177,1,1,1,1
42710045,1000177,1,1,1,1

In [22]:
eid = 1001473
display(eras[eras['eid'] == eid].sort_values(by='condition_era_start_date'))
display(df[df['eid'] == eid].sort_values(by='condition_start_date'))

,eid,condition_era_id,condition_concept_id,condition_era_start_date,condition_era_end_date,condition_occurrence_count,primary_bc
21,1001473,850403558016,46270897,03/02/2010,04/02/2010,1,False
27,1001473,171798781922,4268290,03/02/2010,04/02/2010,1,False
23,1001473,91608,4143069,03/02/2010,04/02/2010,1,False
22,1001473,1640677655910,4074624,03/02/2010,04/02/2010,1,False
34,1001473,377957182733,373786,03/02/2010,04/02/2010,1,False
19,1001473,1503238555657,4117380,03/02/2010,04/02/2010,1,False
17,1001473,1443109135357,4299688,03/02/2010,04/02/2010,1,False
16,1001473,137439002667,4011528,03/02/2010,04/02/2010,1,False
29,1001473,816043884113,4299682,03/02/2010,04/02/2010,1,False
14,1001473,1065152031611,37208137,03/02/2010,04/02/2010,1,False
11,1001473,712964711905,4101199,03/02/2010,04/02/2010,1,False
15,1001473,446676708987,443783,03/02/2010,04/02/2010,1,False
30,1001473,1597727859530,4193634,03/02/2010,04/02/2010,1,False
2,1001473,833223686927,4075933,03/02/2010,04/02/2010,1,False
37,1001473,987842566221,4023200,03/02/2010,04/02/2010,1,False
40,1001473,1065152028496,4147192,03/02/2010,04/02/2010,1,False
6,1001473,678604967804,4217260,03/02/2010,04/02/2010,2,False
10,1001473,738734460527,4047986,03/02/2010,04/02/2010,1,False
4,1001473,231928371264,4263848,03/02/2010,04/02/2010,1,False
26,1001473,128849130177,432545,04/04/1997,05/04/1997,1,False
41,1001473,1357209750731,4248429,04/04/1997,05/04/1997,1,False
1,1001473,1047972094078,36564848,07/08/2003,08/08/2003,1,False
35,1001473,532576075133,4162253,07/09/2003,22/01/2004,7,True
9,1001473,1194000960482,320128,07/09/2003,08/09/2003,1,False
13,1001473,1065152033940,79864,11/10/1999,12/10/1999,1,False
38,1001473,1262720519200,37208137,17/04/2019,18/04/2019,1,False
33,1001473,1168231212266,4086831,17/04/2019,18/04/2019,1,False
32,1001473,438086805643,4075933,17/04/2019,18/04/2019,1,False
31,1001473,1675037292051,4193634,17/04/2019,18/04/2019,1,False
39,1001473,1623497712502,46270897,17/04/2019,18/04/2019,1,False
36,1001473,876173381989,4147192,17/04/2019,18/04/2019,1,False
0,1001473,1692217236464,4023200,17/04/2019,18/04/2019,1,False
25,1001473,747324310083,4309912,17/04/2019,18/04/2019,1,False
24,1001473,420906887242,4074624,17/04/2019,18/04/2019,1,False
20,1001473,1494648732566,4101199,17/04/2019,18/04/2019,1,False
18,1001473,1571958068002,443783,17/04/2019,18/04/2019,1,False
12,1001473,652835122542,4263848,17/04/2019,18/04/2019,1,False
8,1001473,1400159467343,373786,17/04/2019,18/04/2019,1,False
7,1001473,1451698983670,4268290,17/04/2019,18/04/2019,1,False
5,1001473,154618896205,4047986,17/04/2019,18/04/2019,1,False
3,1001473,1657857416047,4117380,17/04/2019,18/04/2019,1,False
28,1001473,188978652464,377575,17/04/2019,18/04/2019,1,False
42,1001473,738734518401,4011528,17/04/2019,18/04/2019,1,False

,eid,condition_concept_id,condition_start_date,condition_source_value,condition_type_concept_id,condition_status_concept_id,breast_cancer,cancer,non-bc
24,1001473,4074624,03/02/2010,1960-0.0-100349-1,32862,0.0,False,False,False
29,1001473,4147192,03/02/2010,2020-0.0-100349-1,32862,0.0,False,False,False
27,1001473,4101199,03/02/2010,2247-0.0-100631-1,32862,0.0,False,False,False
26,1001473,4023200,03/02/2010,1920-0.0-100349-0,32862,0.0,False,False,False
34,1001473,4117380,03/02/2010,1970-0.0-100349-0,32862,0.0,False,False,False
36,1001473,4193634,03/02/2010,1980-0.0-100349-1,32862,0.0,False,False,False
22,1001473,4263848,03/02/2010,4717-0.0-100349-1,32862,0.0,False,False,False
21,1001473,4075933,03/02/2010,2000-0.0-100349-1,32862,0.0,False,False,False
37,1001473,46270897,03/02/2010,1950-0.0-100349-0,32862,0.0,False,False,False
19,1001473,4299682,03/02/2010,1717-0.0-100431-5,32862,0.0,False,False,False
18,1001473,4047986,03/02/2010,2178-0.0-100508-4,32862,0.0,False,False,False
17,1001473,4143069,03/02/2010,4548-0.0-100478-3,32862,0.0,False,False,False
38,1001473,373786,03/02/2010,2207-0.0-100352-1,32862,0.0,False,False,False
39,1001473,4217260,03/02/2010,5263-0.0,32879,0.0,False,False,False
31,1001473,4299688,03/02/2010,1747-0.0-100434-4,32862,0.0,False,False,False
12,1001473,4217260,03/02/2010,5262-0.0,32879,0.0,False,False,False
11,1001473,443783,03/02/2010,2188-0.0-100349-1,32862,0.0,False,False,False
10,1001473,37208137,03/02/2010,4570-0.0-100478-3,32862,0.0,False,False,False
47,1001473,4011528,03/02/2010,4526-0.0-100478-3,32862,0.0,False,False,False
42,1001473,4268290,03/02/2010,2257-0.0-100349-1,32862,0.0,False,False,False
15,1001473,4248429,04/04/1997,K259,32817,32902.0,False,False,False
46,1001473,432545,04/04/1997,B968,32817,32908.0,False,False,False
9,1001473,36564848,07/08/2003,8500/3-C508,32879,0.0,True,True,False
35,1001473,320128,07/09/2003,I10,32817,32908.0,False,False,False
30,1001473,4162253,07/09/2003,C509,32817,32902.0,True,True,False
5,1001473,4162253,08/10/2003,C509,32817,32902.0,True,True,False
40,1001473,4162253,10/12/2003,C509,32817,32902.0,True,True,False
6,1001473,79864,11/10/1999,R31,32817,32902.0,False,False,False
43,1001473,4263848,17/04/2019,4717-2.0-100349-1,32862,0.0,False,False,False
44,1001473,4075933,17/04/2019,2000-2.0-100349-1,32862,0.0,False,False,False
33,1001473,4117380,17/04/2019,1970-2.0-100349-0,32862,0.0,False,False,False
41,1001473,37208137,17/04/2019,4570-2.0-100478-3,32862,0.0,False,False,False
49,1001473,4047986,17/04/2019,2178-2.0-100508-4,32862,0.0,False,False,False
28,1001473,4101199,17/04/2019,2247-2.0-100631-1,32862,0.0,False,False,False
2,1001473,4193634,17/04/2019,1980-2.0-100349-1,32862,0.0,False,False,False
3,1001473,4268290,17/04/2019,2257-2.0-100349-1,32862,0.0,False,False,False
4,1001473,4074624,17/04/2019,1960-2.0-100349-1,32862,0.0,False,False,False
7,1001473,443783,17/04/2019,2188-2.0-100349-1,32862,0.0,False,False,False
32,1001473,377575,17/04/2019,4803-2.0-100635-13,32862,0.0,False,False,False
13,1001473,373786,17/04/2019,2207-2.0-100352-1,32862,0.0,False,False,False
8,1001473,4309912,17/04/2019,4548-2.0-100478-5,32862,0.0,False,False,False
20,1001473,4086831,17/04/2019,1757-2.0-100435-2,32862,0.0,False,False,False
23,1001473,46270897,17/04/2019,1950-2.0-100349-0,32862,0.0,False,False,False
48,1001473,4147192,17/04/2019,2020-2.0-100349-1,32862,0.0,False,False,False
25,1001473,4011528,17/04/2019,4526-2.0-100478-3,32862,0.0,False,False,False
14,1001473,4023200,17/04/2019,1920-2.0-100349-0,32862,0.0,False,False,False
0,1001473,4162253,19/11/2003,C509,32817,32902.0,True,True,False
16,1001473,4162253,21/01/2004,C509,32817,32902.0,True,True,False
45,1001473,4162253,29/10/2003,C509,32817,32902.0,True,True,False
1,1001473,4162253,31/12/2003,C509,32817,32902.0,True,True,False

In [7]:
BC_CONCEPTS = [
    4162253, # Primary malignant neoplasm of breast
    45770892, # Primary malignant neoplasm of uterus
    4237178, # Infiltrating duct carcinoma of breast
    4187850, # Primary malignant neoplasm of breast upper outer quadrant
]

eras['primary_bc'] = eras['condition_concept_id'].isin(BC_CONCEPTS)
bc_eras = eras[eras['primary_bc'] == True]
display(len(set(bc_eras['eid'])))
display(
    bc_eras.groupby(['primary_bc', 'condition_concept_id']).nunique('eid')
)

12962

                                   eid  condition_era_id  \
primary_bc condition_concept_id
True       4162253               10930             20137
           4187850                2898              3982
           4237178                4212              4296
           45770892                 53                74

                                 condition_era_start_date  \
primary_bc condition_concept_id
True       4162253                                   5806
           4187850                                   2649
           4237178                                   2924
           45770892                                    74

                                 condition_era_end_date  \
primary_bc condition_concept_id
True       4162253                                 5854
           4187850                                 2659
           4237178                                 2919
           45770892                                  74

                                 condition_occurrence_count
primary_bc condition_concept_id
True       4162253                                       79
           4187850                                       41
           4237178                                        2
           45770892                                      10

In [10]:
sns.heatmap(bc_eras, annot=True)

ValueError: could not convert string to float: '07/09/2003'

In [20]:
final_df = bc_eras.groupby('eid').agg({'condition_era_start_date': min, 'condition_era_end_date': max, 'condition_occurrence_count': sum, 'condition_concept_id': 'nunique'  }).reset_index()
display(final_df)

/tmp/ipykernel_247/3179676370.py:1: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  final_df = bc_eras.groupby('eid').agg({'condition_era_start_date': min, 'condition_era_end_date': max, 'condition_occurrence_count': sum, 'condition_concept_id': 'nunique'  }).reset_index()
/tmp/ipykernel_247/3179676370.py:1: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  final_df = bc_eras.groupby('eid').agg({'condition_era_start_date': min, 'condition_era_end_date': max, 'condition_occurrence_count': sum, 'condition_concept_id': 'nunique'  }).reset_index()
/tmp/ipykernel_247/3179676370.py:1: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  final_df = bc_eras.groupby('eid').agg({'condition_era_start_date': min, 'condition_era_end_date': max, 'condition_occurrence_count': sum, 'condition_concept_id': 'nunique'  }).reset_index()

,eid,condition_era_start_date,condition_era_end_date,condition_occurrence_count,condition_concept_id
0,1000177,09/09/2014,10/09/2014,1,1
1,1000486,20/11/2014,21/11/2014,1,1
2,1001370,12/05/1998,13/05/1998,1,1
3,1001473,07/09/2003,22/01/2004,7,1
4,1002623,04/04/2007,30/08/2007,13,2
...,...,...,...,...,...
12957,6019525,21/10/2016,22/10/2016,1,1
12958,6020495,01/12/2009,18/05/2010,8,1
12959,6022204,06/10/2004,14/10/2004,2,2
12960,6022227,19/03/2011,20/03/2011,1,1
12961,6022409,02/01/2008,16/05/2008,8,1